<body {
  background-image: url(https://cdn.vox-cdn.com/thumbor/FCXiU96amcIP7iY8ap7w4YnClYc=/1024x1469:3633x2835/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/19720476/shutterstock_336893837.jpg);
}

header {
  color: whitesmoke;
  font-size: x-large;
}

h1 {
}
